.studentHeader {
  background: url('/img/bg-head-section.png') no-repeat center top;
  background-size: cover;
  padding: 3em 0;
}

.studentSuccess {
  padding: 3em 0;
  a {
    color: #FF6823;
    font-weight: bold;
    &:after {
      background: url('/img/icon-arrow-discover.svg') top left no-repeat;
      background-size: cover;
      content: '';
      display: inline-block;
      width: 9px;
      height: 9px;
      margin-left: 0.5em;
    }
  }
}

.studentSuccess__Learning {
  background: transparent;
}

.studentSuccess__Jobs {
  background: #FFEFDB;
}

.studentSuccess__Startup {
  background: transparent;
}


