.courseCardImage {
  &:before {
    background: rgb(43,43,43);
    background: -moz-linear-gradient(180deg, rgba(43,43,43,0) 0%, rgba(34,34,34,0) 35%, rgba(0,0,0,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(43,43,43,0) 0%, rgba(34,34,34,0) 35%, rgba(0,0,0,1) 100%);
    background: linear-gradient(180deg, rgba(43,43,43,0) 0%, rgba(34,34,34,0) 35%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2b2b2b",endColorstr="#000000",GradientType=1);
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  &:after {
    background: url('/img/course-arrow.svg') no-repeat bottom right;
    background-size: cover;
    content: '';
    display: block;
    position: absolute;
    width: 55px;
    height: 55px;
    bottom: 0;
    right: 0;
  }
}



