.AboutMi {
  background: #fff;
  padding: 3em 0 0;
  p {
    @media(min-width:1204px) {
      max-width: 46%;
      margin: 1em auto;
    }
  }
}

.videoEmbed {
  background: grey;
  position: relative;
  padding-bottom: 56.25%;
  margin-top: 3em;
  margin-left: -1em;
  margin-right: -1em;
  @media(min-width:768px) {
    margin-left: 0;
    margin-right: 0;
  }
  & > div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
}