.HeroBanner {
  overflow: hidden;
  position: relative;
  background: #fff;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.HeroContainer {
  position: relative;
  width: 995px;
  margin: 0 auto;
  will-change: transform;
}

.HeroSlide {
  width: 100%;
  position: relative;
  // position: absolute;
  // top: 0;
  // left: 0;
  // right: 0;
  // bottom: 0;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  a {
    display: block;
    margin: 0 auto;
    width: 995px;
    height: calc(582/868*995px);
  }
  .container {
    position: relative;
  }
}
.HeroImage {
  text-align: right;
  line-height: 0;
  width: 62%;
  img {
    max-width: 100%;
  }
}

.HeroInner {
  position: absolute;
  bottom: 2em;
  right: 2em;
  left: 2em;
}

.HeroSliderInfo {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  padding: 3em 2em;
  h2 {
    font-size: 34px;
    line-height: 1.2;
    font-weight: 900;
    margin: 0;
  }
}