.valueInfo {
  background: rgb(245,203,204);
  background: -moz-linear-gradient(180deg, rgba(245,203,204,1) 0%, rgba(255,175,67,1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(245,203,204,1) 0%, rgba(255,175,67,1) 100%);
  background: linear-gradient(180deg, #f5cbcc 0%, #ffaf43 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f5cbcc",endColorstr="#ffaf43",GradientType=1);
  padding: 2.5em 1em 1.5em;
  box-shadow: 0 0 10px rgb(0 0 0 / 3%);
  @media(min-width:1100px) {
    width: 55%;
    margin: 1.5em -2em 1.5em 0;
    padding: 2.5em 10% 1em 1.5em;
  }
  a {
    color: #FF6823;
    display: block;
    font-weight: 900;
    margin-top: 1em;
    line-height: 1;
    &:after {
      background: url('/img/icon-arrow-discover.svg') top left no-repeat;
      background-size: cover;
      content: '';
      display: inline-block;
      width: 9px;
      height: 9px;
      margin-left: 0.5em;
    }
    @media(min-width:1100px) {
      margin-top: 3em;
    }
  }
}

.valueImage {
  position: relative;
  z-index: 10;
  display: none;
  border-radius: 26px;
  box-shadow: 0 5px 20px rgb(0 0 0 / 20%);
  overflow: hidden;
  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
  @media(min-width:1100px) {
    display: flex;
    width: 300px;
  }
}