.CTA {
  background: rgb(255,175,67);
  background: -moz-linear-gradient(180deg, rgba(255,175,67,1) 0%, rgba(255,104,35,1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(255,175,67,1) 0%, rgba(255,104,35,1) 100%);
  background: linear-gradient(180deg, rgba(255,175,67,1) 0%, rgba(255,104,35,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffaf43",endColorstr="#ff6823",GradientType=1);
  border: 2px solid #FFD9C7;
  border-radius: 24px;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  padding: 0 1.5em;
  height: 50px;
  line-height: 46px;
  text-align: center;
}

.InvertCTA {
  @extend .CTA;
  background: rgb(255,252,248);
  background: -moz-linear-gradient(180deg, rgba(255,252,248,1) 0%, rgba(255,239,219,1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(255,252,248,1) 0%, rgba(255,239,219,1) 100%);
  background: linear-gradient(180deg, rgba(255,252,248,1) 0%, rgba(255,239,219,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fffcf8",endColorstr="#ffefdb",GradientType=1);
  border: 2px solid #FDE4AD;
  color: #FF6823;
}

.HeaderCTA {
  @extend .CTA;
  border-radius: 24px;
  display: block;
  font-size: 12px;
  padding: 0 0.7em;
  height: 34px;
  line-height: 30px;
  position: absolute;
  top: 13px;
  right: 1em;
  text-align: center;
  @media(min-width: 1024px) {
    font-size: 16px;
    padding: 0 1.5em;
    position: static;
    height: 50px;
    line-height: 46px;
  }
}