.logo {
  font-weight: 900;
  font-size: 20px;
  line-height: 18px;
  color: #fff;
  text-align: center;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  @media(min-width:1100px) {
    color: #A71876;
    font-size: 24px;
    text-align: left;
    br {
      display: none;
    }
  }
}

.logoMobile {
  display: block;
  font-weight: 900;
  font-size: 20px;
  line-height: 18px;
  color: #A71876;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  @media(min-width:1100px) {
    font-size: 24px;
  }
}