.QandA {
  background: #fff;
  padding: 3em 0;
  .QandAHeading {
    text-align: center;
    @media(min-width: 1024px) {
      text-align: left;
      float: left;
      width: 20%;
      h1 {
        margin-top: 0.5em;
      }
    }
  }
  .QandADetails{
    @media(min-width: 1024px) {
      float: right;
      width: 77%;
    }
  }
  .details {
    background-color: #FFF7ED;
    border-radius: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 1em;
    summary {
      list-style: none;
      background-color: #fff;
      border: 1px solid #E75C9D;
      border-radius: 10px;
      padding: 1.2em 5em 1.2em 1.2em;
      position: relative;
      min-height: 60px;
      &:after {
        background: url('/img/detail-arrow.png') top left no-repeat;
        background-size: cover;
        content: "";
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        top: 50%;
        right: 1.5em;
        transform: translateY(-15px);
        @media(min-width: 1024px) {
          width: 40px;
          height: 40px;
          transform: translateY(-20px);
        }
      }
    }
    p {
      margin: 0;
      padding: 1.5em;
    }
    &[open] {
      summary:after {
        background: url('/img/detail-arrow-close.png') top left no-repeat;
        background-size: cover;
      }
    }
  }

  details[open] summary ~ * {
    animation: open 0.3s ease-in-out;
  }

  details summary::-webkit-details-marker {
    display: none;
  }
}

@keyframes open {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


