@font-face {
  font-family: 'SVN-Gilroy';
  src: url('SVN-Gilroy.eot');
  src: local('SVN-Gilroy'),
      url('SVN-Gilroy.eot?#iefix') format('embedded-opentype'),
      url('SVN-Gilroy.woff2') format('woff2'),
      url('SVN-Gilroy.woff') format('woff'),
      url('SVN-Gilroy.ttf') format('truetype'),
      url('SVN-Gilroy.svg#SVN-Gilroy') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SVN-Gilroy';
  src: url('SVN-GilroyBlack.eot');
  src: local('SVN-Gilroy Black'), local('SVN-GilroyBlack'),
      url('SVN-GilroyBlack.eot?#iefix') format('embedded-opentype'),
      url('SVN-GilroyBlack.woff2') format('woff2'),
      url('SVN-GilroyBlack.woff') format('woff'),
      url('SVN-GilroyBlack.ttf') format('truetype'),
      url('SVN-GilroyBlack.svg#SVN-GilroyBlack') format('svg');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SVN-Gilroy';
  src: url('SVN-GilroyBold.eot');
  src: local('SVN-Gilroy Bold'), local('SVN-GilroyBold'),
      url('SVN-GilroyBold.eot?#iefix') format('embedded-opentype'),
      url('SVN-GilroyBold.woff2') format('woff2'),
      url('SVN-GilroyBold.woff') format('woff'),
      url('SVN-GilroyBold.ttf') format('truetype'),
      url('SVN-GilroyBold.svg#SVN-GilroyBold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SVN-Gilroy XBold';
  src: url('SVN-GilroyXBold.eot');
  src: local('SVN-Gilroy XBold'), local('SVN-GilroyXBold'),
      url('SVN-GilroyXBold.eot?#iefix') format('embedded-opentype'),
      url('SVN-GilroyXBold.woff2') format('woff2'),
      url('SVN-GilroyXBold.woff') format('woff'),
      url('SVN-GilroyXBold.ttf') format('truetype'),
      url('SVN-GilroyXBold.svg#SVN-GilroyXBold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SVN-Gilroy';
  src: url('SVN-GilroyMedium.eot');
  src: local('SVN-Gilroy Medium'), local('SVN-GilroyMedium'),
      url('SVN-GilroyMedium.eot?#iefix') format('embedded-opentype'),
      url('SVN-GilroyMedium.woff2') format('woff2'),
      url('SVN-GilroyMedium.woff') format('woff'),
      url('SVN-GilroyMedium.ttf') format('truetype'),
      url('SVN-GilroyMedium.svg#SVN-GilroyMedium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

