.teacherCard {
  display: inline-block;
  vertical-align: top;
  width: 98%;
  text-align: center;
  position: relative;
  margin: 1em 1%;
  margin-bottom: 2em;
  margin-top: 2em;
  @media(min-width: 375px) {
    width: 48%;
  }
  @media(min-width: 768px) {
    width: 31%;
    &:nth-last-child(n+4), &:nth-last-child(n+4) ~ .teacherCard {
      width: 23%;
    }
  }

  @media(min-width: 992px) {
    width: 23%;
    &:nth-last-child(n+5), &:nth-last-child(n+5) ~ .teacherCard {
      width: 18%;
    }
  }
}

.teacherInfo {
  width: 100%;
  position: absolute;
  text-align: center;
  padding: 0 0.5em;
  top: 75%;
  h3 {
    font-size: 16px;
    color: #A71876;
    font-weight: 900;
    margin: 0;
    @media(min-width: 375px) {
      font-size: 12px;
    }
    @media(min-width: 440px) {
      font-size: 12px;
    }
    @media(min-width: 600px) {
      font-size: 16px;
    }
  }
  p {
    font-size: 16px;
    line-height: 1.25;
    margin: 0 auto;
    height: calc(2*1.25*16px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 0.5em;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    @media(min-width: 375px) {
      font-size: 12px;
      height: calc(2*1.25*12px);
    }
    @media(min-width: 440px) {
      font-size: 12px;
    }
    @media(min-width: 600px) {
      font-size: 14px;
      height: calc(2*1.25*14px);
    }
  }
}

.teacherCardBg {
  width: 100%;
}

.teacherImage {
  position: absolute;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  top: -11%;
}

.socialInfo {
  text-align: center;
  vertical-align: top;
  margin-top: 0.5em;
  @media(min-width:375px) {
    margin-top: 0.4em;
  }
  @media(min-width:440px) {
    margin-top: 0.8em;
  }
  @media(min-width:768px) {
    margin-top: 1em;
  }
  a {
    display: inline-block;
    vertical-align: top;
  }
}

