.nav {
  display: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 100%;
  background: red;
  z-index: 100;
  width: 100%;
  @media(min-width: 1024px) {
    background-color: transparent;
    display: block;
    position: static;
  }
}

.navItem {
  list-style: none;
  a:hover {
    color: #A71876;
  }
  &+.navItem {
    margin-left: 0;
    @media(min-width: 1024px) {
      margin-left: 2.4rem;
    }
  }
}

